/* nanoscrollbar */
.nano .pane   { background: #888; }
.nano .slider { background: #111; }

body {
    /* Override bootstrap properties */
    background-color: white!important;
    border: 0 !important;
}
h3{
  background:#ff6600;
  padding:2px;
  color:white;
    margin-top:0px;
    border-radius: 10px;
}
#container{
    margin: 10px auto;
    width: 1060px;
    min-height: 200%;
    background-color: white;
      border: 20px;
      border-radius: 0px;
     box-shadow: 1px 1px 8px #000000;
}

#header{
    font-size: 28px;
    text-align: center;
     margin-top:0px;
    margin-bottom: 25px;
    color:white;
      border-radius: 10px;
    background-color: #006600;
     padding: 3px;
}

.task-list{
    width: 250px;
    float: left;
    margin: 7px;
    background-color:white;
    min-height: 240px;
    border-radius: 10px;
    padding-bottom: 9px;
     box-shadow: 1px 1px 2px #000000;
}

.task-list input, .task-list textarea{
    width: 225px;
    margin: 3px 5px;
}

.task-list input{
    height: 30px;
}

.todo-task{
    border-radius: 0px;
    background-color: white;
    width: 210px;
    margin: 10px;
    padding: 5px;
    box-shadow: 1px 1px 4px #000000;
}

.task-list input[type="button"]{
    width: 100px;
    margin:5px;
    color:white;
   
}

.todo-task > .task-header{
    font-weight: bold;
    color:black;
   background-color:#99ffbb;
    margin-top:0px;
}

.todo-task > .task-date{
    font-size: small;
   color:black;
}

.todo-task > .task-description{
    font-size: smaller;
     color:black;
}

h3{
    text-align: center;
}

#delete-div{
    display: none;
    background-color: #fff;
    border: 3px dotted #000;
    margin: 10px;
    height: 75px;
    line-height: 75px;
    text-align: center;
}